* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template:
    "header header header" 50px
    "main main aside" auto
    "footer footer footer" 50px;
  gap: 5px;
  background-color: aqua;
}

.header {
  justify-self: center;
  align-self: center;
  grid-area: header;
}

.main {
  justify-self: center;
  align-self: center;
  grid-area: main;
  height: 100%;
}

.aside {
  justify-self: center;
  align-self: center;
  grid-area: aside;
}

.footer {
  justify-self: center;
  align-self: center;
  grid-area: footer;
}

@media (max-width: 600px) {
  .contenedor {
    grid-template:
      "header" 50px
      "aside" 25px
      "main" auto
      "footer" 50px;
  }
}
