/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}

html {
  background-color: #f3f5fc;
}

.header {
  left: 0;
  top: 0;
  width: 100%;
  background-color: #d8dfe8;
  color: #0a3871;
  align-items: center;
  display: flex;
  padding: 15px 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #0a3871;
  background-color: #d8dfe8;
  text-align: center;
  padding: 5px;
}
a,
a:visited {
  color: #0a3871;
  text-decoration: none; /* no underline */
}
a:focus,
a:hover {
  color: #3d5f8a;
}

.ingresoTexto {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.mostrarMensaje {
  border: none;
  border-radius: 24px;
  width: 25%;
  height: 450px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contenedor {
  gap: 15px;
  display: flex;
  padding: 10px;
  width: 900px;
  display: flex;
}

.contenedor__texto {
  color: #0a3871;
  background-color: #f3f5fc;
  padding: 10px;
  border: none;
  border-radius: 24px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

.botones {
  padding: 15px;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.btn {
  padding: 15px 100px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  background-color: #d8dfe8;
}

.active {
  color: #fff;
  background-color: #0a3871;
}

.mostrarMensaje__imagen {
  width: 100%;
  height: auto;
}

.mostrarMensaje__titulo {
  margin-top: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
}
.mostrarMensaje__texto {
  margin-top: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 150%;
  /* or 24px */

  text-align: center;
}
.mensajeAlerta {
  font-size: 12px;
}
